body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

.bg {
    background-image: url("donation6.jpg");

    height: auto;
    weight: 100%;
    margin: 0;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text{
    text-align: center;
    color:black;
  }