body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-image: url("donation6.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.text{
    text-align: center;
    color:white;
    font-weight:700;
}
.donate-button{
text-decoration:none;
background-image: linear-gradient(rgb(204, 45, 45),rgb(214, 89, 89));
padding: 15px;
border-radius: 5px;
color: white;
font-weight: 700;
  }