body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin:0%;
   
}

h1{
    font-size: 60px;
    
}

h2{
    font-size: 30px;
}


.text{
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight:700;
    height: 50%;
    padding: 300px;
}

.top-banner{
    background-image: url("images/donation7.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position:normal;

}
.fst-sml{
    color:rgb(185, 181, 181)
}
.donate-button{
text-decoration:none;
background-image: linear-gradient(rgb(204, 45, 45),rgb(214, 89, 89));
padding: 15px;
border-radius: 5px;
color: white;
font-weight: 700;
}

.amount{
    color:black;
    text-align: center;
    padding: 70px;
    font-weight: 700;
    text-align: center;
}

.essential-item{
    display: flex;

}

.third-width{
    width: 33%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding: 2%;
    box-shadow: 10px 10px white;  
    text-align: justify;

}
.food{
    
    background-color: rgb(201, 206, 210);
    padding: 10%;
}
.shelter{
    background-color:rgb(185, 219, 208);
    padding: 10%;
}
.education{
background-color: rgb(212, 175, 175);
padding: 10%;
}

.amount{
    display: flex;
   
}

h3{
    
    font-style:oblique;
}
.donate-today{
    padding-top: 5%;
    padding-left: 100px;
    padding-right: 100px;
}
.our-comment{
    color:rgb(185, 181, 181)
}
#first{
    width: 20%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding: 2%;
    color: dimgray;
    box-shadow:  0px 0px;  
    background-color:  rgb(214, 214, 214);
    border-radius: 5px;
    
}
#second{
    width: 20%;
    color: red;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding: 2%;
    border: 2px solid red;
    box-shadow: 0px 0px ; 
    background-color: rgb(245, 183, 183);
    border-radius: 5px;
}
#third{
    width: 20%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding: 2%;
    color: dimgray;
    box-shadow:  0px 0px ;
    background-color:  rgb(214, 214, 214);
    border-radius: 5px;
}
#forth{
    width: 20%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding: 2%;
    color: dimgray;
    box-shadow: 0px 0px ;
    background-color:  rgb(214, 214, 214);
    border-radius: 5px;
}

#fifth{
    width: 20%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding: 2%;
    color: dimgray;
    box-shadow:  0px 0px;
    background-color:  rgb(214, 214, 214);
    border-radius: 5px;
}
.donate-today{
text-align: center;
}
.otheramount{
    padding: %;
}

.donate-plan{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.plan-details{
color:rgb(185, 181, 181)
}
.donate-nowbutton{
    text-align:  center;
    text-decoration:none;
    background-image: linear-gradient(rgb(204, 45, 45),rgb(214, 89, 89));
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
   
    }
}

.seemore-link{
   
    text-decoration: none;
    background-image: linear-gradient(rgb(66, 65, 74),);
    color: rgb(201, 82, 82);
    font-weight: 700;
    border-radius: 5px;

}
.artical{
    display: flex;
    padding-left:5%;
    padding-bottom: 5%;
    padding-right: 5%;
}
.my-update{
    text-align: center;
}
.updateinfo{
 text-align: center;
 text-align: ;
 color:rgb(185, 181, 181) ;
}


.box{
    margin:auto;
    width: 30%;
    border: 3px solid #d4d4d4;
    padding: 50px;
    background-color:rgb(169, 177, 186);
    padding-bottom: 100px;
    padding-bottom: 50px;
  }
  .Sub{
    text-align:center;
    text-decoration:none;
    background-image: linear-gradient(rgb(204, 45, 45),rgb(214, 89, 89));
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
   
  }
  .footer {
    font-style: italic;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(124, 108, 108);
    text-align: center;
 }
 